<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-3 col-lg-4 col-md-5">
                <div class="auth-full-page-content d-flex p-sm-5 p-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="mb-4 mb-md-5 text-center">
                                <a href="" class="d-block auth-logo">
                                    <img src="assets/images/logo-sm.svg" alt="" height="80">
                                </a>
                            </div>
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Welcome</h5>
                                    <p class="text-muted mt-2">Sign in to continue to NCD.</p>
                                </div>
                                <form  class="needs-validation" novalidate action="ad-index.html">
                                    <div class="mb-3">
                                        <label class="form-label" for="validationCustom01" >Username</label>
                                        <input type="text" class="form-control"  id="validationCustom01" placeholder="Enter username"required>
                                    </div>
                                    <div class="mb-3">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-grow-1">
                                                <label class="form-label" for="validationCustom03">Password</label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="">
                                                    <a href="auth-recoverpw.html" class="text-muted">Forgot password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" id="validationCustom03" placeholder="Enter password" aria-label="Password" aria-describedby="password-addon"required>
                                            <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                            
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="invalidCheck" required>
                                                <label class="form-check-label" for="invalidCheck">I accept the terms and conditions</label>
                                                <div class="invalid-feedback">
                                                    You must agree before submitting.
                                                </div>
                                            </div> 
                                        </div>
                                        
                                    </div>
                                    <div class="mb-3">
                                    
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log In</button>
                                    </div>
                                    <div class="mb-4 mb-md-5 text-center">
                                     <a href="" class="d-block auth-logo">
                                    <img src="assets/images/Asset 2.svg" alt="" height="80" margin-top= "5px">
                                </a></div>
                                
                                </form>

                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> NCD SOFTWARE. Powered by Promed Technologies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end auth full page content -->
            </div>
            <!-- end col -->
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="auth-bg pt-md-5 p-4 d-flex">
                    <div class="bg-overlay bg-primary"></div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- end bubble effect -->
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-7">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container fluid -->
</div>

