<p-table #dt [value]="data" [columns]="columns" dataKey="_id" [rowHover]="true" [resetPageOnSort]="false"
    [paginator]="true" [rows]="10" [filterDelay]="0" [scrollable]="true" [resizableColumns]="true"
    responsiveLayout="stack" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
    columnResizeMode="expand" responsiveLayout="scroll" [customSort]="false" class="pTableResponsive">

    <ng-template pTemplate="caption">
        <div class="flex" style="text-align: end;">
            <div class="col-sm-12 col-md-12">
                <div class="dt-buttons btn-group flex-wrap"> <button
                        class="btn btn-secondary buttons-copy buttons-html5" tabindex="0"
                        aria-controls="datatable-buttons" type="button"
                        (click)="copyTableContent()"><span>Copy</span></button>
                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                        aria-controls="datatable-buttons" type="button"
                        (click)="exportExcel()"><span>Excel</span></button>
                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                        aria-controls="datatable-buttons" type="button" (click)="exportPdf()"><span>PDF</span></button>
                    <div class="btn-group"><button
                            class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0"
                            aria-controls="datatable-buttons" type="button" aria-haspopup="true"
                            aria-expanded="false"><span>Column
                                visibility</span></button></div>
                </div>
            </div>
            <!--   <button type="button" pButton  icon="pi pi-file" (click)="dt.exportCSV()" class="p-button-secondary mr-4"  pTooltip="CSV" tooltipPosition="bottom"></button>-->
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pResizableColumn id='columnSort' *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}} <p-sortIcon *ngIf="col?.isSortable  !== false" [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th id="p-columnFilter" [ngStyle]="col?.filterStyle" *ngFor="let col of columns" style="padding-left: 1%">
                <p-columnFilter *ngIf="col?.isFilter !== false" type="text" matchMode="contains" [field]="col.field">
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns" let-index="rowIndex">

        <tr class="p-selectable-row">
            <td *ngFor="let col of columns" [pEditableColumn]="item" [pEditableColumnField]="col.field"
                [pEditableColumnRowIndex]="index">
                <span [ngSwitch]="col?.type" class="checkbox-center">
                    <span *ngSwitchCase="'checkbox'">
                        <!-- <p-checkbox [ngModel]="col.getValue(item)" [binary]="true" (click)="col.onClick(item)"></p-checkbox> -->
                    </span>



                    <span *ngSwitchDefault>
                        <span *ngIf="!col?.isAction && col.getValue">
                            {{col.getValue(item)}}
                        </span>
                        <span *ngIf="col.isAction">
                            <button type="button" (click)="col.onClick(item)">{{col.getValue(item)}}</button>
                        </span>

                    </span>
                </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No record found.</td>
        </tr>
    </ng-template>
</p-table>

<!-- <p-paginator [ngClass]="!isPagination ? 'hidden-pagination' : ''" [rows]="10" [first]="first" #paginator
    [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="onPaginaton($event)"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"></p-paginator> -->