<div class="auth-content my-auto">
    <div class="text-center">
        <h5 class="mb-0">Register Account</h5>
        <p class="text-muted mt-2">Register to get access to NCD app.</p>
    </div>
    <form #form="ngForm" ngNativeValidate class="needs-validation" (ngSubmit)="form.valid && registerUser()">
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" required="true" class="form-control" name="firstName" [(ngModel)]="user.firstName"
                placeholder="Enter firstName">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" required="true" class="form-control" name="lastName" [(ngModel)]="user.lastName"
                placeholder="Enter lastName">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" required="true" class="form-control" name="email" [(ngModel)]="user.phoneNumber"
                placeholder="Enter phoneNumber">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" required="true" class="form-control" name="email" [(ngModel)]="user.email"
                placeholder="Enter email">
        </div>

        <div class="mb-3">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                    <label class="form-label">Password</label>
                </div>
            </div>

            <div class="input-group auth-pass-inputgroup">
                <input [type]="isPasswordHidden ? 'password' : 'text'" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"  required="true" class="form-control" name="password" [(ngModel)]="user.password"
                    placeholder="Enter password" aria-label="Password" aria-describedby="password-addon" required>
                <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon" (click)="isPasswordHidden = !isPasswordHidden"><i
                        class="mdi mdi-eye-outline"></i></button>
                        <div class="custom-invalid-feedback" *ngIf="form['controls']['password'] && form['controls']['password']['errors'] && form['controls']['password']['errors']['pattern']">Please enter Alpha numeric password of 8 character e.g (Abc12345)</div>

            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                    <label class="form-label">Confirm Password</label>
                </div>
            </div>

            <div class="input-group auth-pass-inputgroup">
                <input [type]="isPasswordHidden ? 'password' : 'text'"  required="true" class="form-control" name="password" [(ngModel)]="confirmPassword"
                    placeholder="Enter password" aria-label="Password" aria-describedby="password-addon" required>
            </div>
            <div class="custom-invalid-feedback" *ngIf="user.password && confirmPassword && user.password != confirmPassword ">
                Password & Confirm Password not match.
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label class="form-check-label">For registering you agree NCD app <a href="">Terms of Use</a></label>
            </div>

        </div>
        <div class="mb-3">
            <button class="btn btn-info btn-rounded w-100 waves-effect waves-light" type="submit">Register</button>
        </div>

        <div class="mt-3">
            <div class="col">
                <label class="form-check-label">Already Have an account? <a routerLink="/auth/login">Login</a></label>
            </div>
        </div>
    </form>

</div>