<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Frequently Asked Questions</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">FAQs</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row gy-4">
                            <div class="col-xxl-4 col-lg-6">
                                <div class="">
                                    <div class="mb-3">
                                        <h5 class="fs-16 mb-0 fw-semibold">General Questions</h5>
                                    </div>

                                    <div class="accordion accordion-border-box" id="genques-accordion">
                                        <div class="accordion-item">
                                            <h3 class="accordion-header" id="genques-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseOne" aria-expanded="false" aria-controls="genques-collapseOne">
                                                    What is Total Cholesterole ?
                                                </button>
                                            </h3>
                                            <div id="genques-collapseOne" class="accordion-collapse collapse" aria-labelledby="genques-headingOne" data-bs-parent="#genques-accordion" style="">
                                                <div class="accordion-body">
                                                    Total cholesterol is the overall amount of cholesterol in the blood, measured in mg/dL or mmol/L. It includes both "bad" LDL cholesterol and "good" HDL cholesterol. The desirable level is less than 200 mg/dL (5.2 mmol/L), but it can vary based on other risk factors for heart disease. Working with a healthcare provider is essential for managing cholesterol levels and reducing the risk of heart disease.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="genques-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseTwo" aria-expanded="false" aria-controls="genques-collapseTwo">
                                                    What is a Normal Glucose Level ?
                                                </button>
                                            </h2>
                                            <div id="genques-collapseTwo" class="accordion-collapse collapse" aria-labelledby="genques-headingTwo" data-bs-parent="#genques-accordion" style="">
                                                <div class="accordion-body">
                                                    A normal glucose level after an overnight fast is between 70-99 mg/dL (3.9 to 5.5 mmol/L) for adults. After eating, it should return to normal within a few hours, and a postprandial glucose level of less than 140 mg/dL (7.8 mmol/L) is considered normal. Blood glucose levels outside the normal range can indicate various health conditions..
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="genques-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseThree" aria-expanded="false" aria-controls="genques-collapseThree">
                                                    what is HBA1C ?
                                                </button>
                                            </h2>
                                            <div id="genques-collapseThree" class="accordion-collapse collapse" aria-labelledby="genques-headingThree" data-bs-parent="#genques-accordion">
                                                <div class="accordion-body">
                                                    HBA1C is a blood test that measures the average blood sugar level over the past 2 to 3 months. It's used to diagnose and monitor diabetes and evaluate the effectiveness of treatment. The higher the HbA1c level, the greater the risk of diabetes-related complications.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="genques-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genques-collapseFour" aria-expanded="false" aria-controls="genques-collapseFour">
                                                    What is Uric acid？
                                                </button>
                                            </h2>
                                            <div id="genques-collapseFour" class="accordion-collapse collapse" aria-labelledby="genques-headingFour" data-bs-parent="#genques-accordion">
                                                <div class="accordion-body">
                                                    Uric acid is a waste product produced when the body breaks down purines. It's filtered out of the blood by the kidneys and excreted in urine. High levels of uric acid in the blood (hyperuricemia) can lead to the formation of urate crystals that cause gout or kidney stones, and may increase the risk of heart disease, hypertension, and metabolic syndrome. Uric acid levels can be measured by a blood test, and a healthy lifestyle can prevent high uric acid levels. Talk to your healthcare provider if you're concerned about your uric acid levels.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end accordion-->
                                </div>
                            </div><!--end col-->

                            <div class="col-xxl-4 col-lg-6">
                                <div>
                                    <div class="mb-3">
                                        <h5 class="fs-16 mb-0 fw-semibold">Manage Account</h5>
                                    </div>

                                    <div class="accordion accordion-border-box" id="manageaccount-accordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="manageaccount-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseOne" aria-expanded="false" aria-controls="manageaccount-collapseOne">
                                                    What is account management process?
                                                </button>
                                            </h2>
                                            <div id="manageaccount-collapseOne" class="accordion-collapse collapse" aria-labelledby="manageaccount-headingOne" data-bs-parent="#manageaccount-accordion">
                                                <div class="accordion-body">
                                                    If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple their most common words.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="manageaccount-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseTwo" aria-expanded="false" aria-controls="manageaccount-collapseTwo">
                                                    Why is account management important?
                                                </button>
                                            </h2>
                                            <div id="manageaccount-collapseTwo" class="accordion-collapse collapse" aria-labelledby="manageaccount-headingTwo" data-bs-parent="#manageaccount-accordion" style="">
                                                <div class="accordion-body">
                                                    The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="manageaccount-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseThree" aria-expanded="false" aria-controls="manageaccount-collapseThree">
                                                    What is account manager role?
                                                </button>
                                            </h2>
                                            <div id="manageaccount-collapseThree" class="accordion-collapse collapse" aria-labelledby="manageaccount-headingThree" data-bs-parent="#manageaccount-accordion">
                                                <div class="accordion-body">
                                                    he wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="manageaccount-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#manageaccount-collapseFour" aria-expanded="false" aria-controls="manageaccount-collapseFour">
                                                    What is a key account strategy?
                                                </button>
                                            </h2>
                                            <div id="manageaccount-collapseFour" class="accordion-collapse collapse" aria-labelledby="manageaccount-headingFour" data-bs-parent="#manageaccount-accordion">
                                                <div class="accordion-body">
                                                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis aliquam ultrices mauris.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end accordion-->
                                </div>
                            </div><!--end col-->

                            <div class="col-xxl-4 col-lg-6 align-self-center">
                                <div class="text-center">
                                    <div class="mb-4">
                                        <img src="assets/images/faq.png" alt="" height="200">
                                    </div>
                                    <h4>Any Questions ?</h4>
                                    <p class="text-muted mb-4">You can ask anything you want to know about Feedback.</p>
                                    <div class="hstack flex-wrap gap-2 justify-content-center">
                                        <button type="button" class="btn btn-primary btn-label rounded-pill"><i class="ri-mail-line label-icon align-middle rounded-pill fs-16"></i> Email Us</button>
                                        <button type="button" class="btn btn-info btn-label rounded-pill"><i class="ri-twitter-line label-icon align-middle rounded-pill fs-16"></i> Send Us Tweet</button>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-xxl-12 col-lg-6">
                                <div>
                                    <div class="mb-3">
                                        <h5 class="fs-16 mb-0 fw-semibold">Privacy &amp; Security</h5>
                                    </div>

                                    <div class="accordion accordion-border-box" id="privacy-accordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="privacy-headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#privacy-collapseOne" aria-expanded="true" aria-controls="privacy-collapseOne">
                                                    Which is important privacy or security?
                                                </button>
                                            </h2>
                                            <div id="privacy-collapseOne" class="accordion-collapse collapse show" aria-labelledby="privacy-headingOne" data-bs-parent="#privacy-accordion">
                                                <div class="accordion-body">
                                                    If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages. It will be as simple their most common words.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="privacy-headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#privacy-collapseTwo" aria-expanded="false" aria-controls="privacy-collapseTwo">
                                                    What is security and privacy?
                                                </button>
                                            </h2>
                                            <div id="privacy-collapseTwo" class="accordion-collapse collapse" aria-labelledby="privacy-headingTwo" data-bs-parent="#privacy-accordion">
                                                <div class="accordion-body">
                                                    The new common language will be more simple and regular than the existing European languages. It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="privacy-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#privacy-collapseThree" aria-expanded="false" aria-controls="privacy-collapseThree">
                                                    How can I protect my privacy?
                                                </button>
                                            </h2>
                                            <div id="privacy-collapseThree" class="accordion-collapse collapse" aria-labelledby="privacy-headingThree" data-bs-parent="#privacy-accordion">
                                                <div class="accordion-body">
                                                    He wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="privacy-headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#privacy-collapseFour" aria-expanded="false" aria-controls="privacy-collapseFour">
                                                    Why is privacy so important?
                                                </button>
                                            </h2>
                                            <div id="privacy-collapseFour" class="accordion-collapse collapse" aria-labelledby="privacy-headingFour" data-bs-parent="#privacy-accordion">
                                                <div class="accordion-body">
                                                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis aliquam ultrices mauris.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end accordion-->
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->

                        <div class="row mt-5">
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                         <div class="faq-count">
                                            <h5 class="text-primary">Glucose.</h5>
                                         </div>
                                        <h5 class="mt-3">What is a Normal Glucose Level ?</h5>
                                        <p class="text-muted mt-3 mb-0">
                                            A normal glucose level after an overnight fast is between 70-99 mg/dL (3.9 to 5.5 mmol/L) for adults. After eating, it should return to normal within a few hours, and a postprandial glucose level of less than 140 mg/dL (7.8 mmol/L) is considered normal. Blood glucose levels outside the normal range can indicate various health conditions..</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                        <div class="faq-count">
                                            <h5 class="text-primary">HBA1C.</h5>
                                         </div>
                                        <h5 class="mt-3">what is HBA1C</h5>
                                        <p class="text-muted mt-3 mb-0">HbA1c is a blood test that measures the average blood sugar level over the past 2 to 3 months. It's used to diagnose and monitor diabetes and evaluate the effectiveness of treatment. The higher the HbA1c level, the greater the risk of diabetes-related complications.</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
            
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                        <div class="faq-count">
                                            <h5 class="text-primary">Keytone.</h5>
                                         </div>
                                        <h5 class="mt-3">What are high keytones</h5>
                                        <p class="text-muted mt-3 mb-0">High ketones occur when there's an excess of ketone bodies in the bloodstream due to a lack of carbohydrates or insulin, especially in people with diabetes. Ketosis is a normal metabolic state, but high ketone levels can be dangerous and lead to diabetic ketoacidosis (DKA), which causes symptoms like vomiting, abdominal pain, and confusion. People with diabetes should monitor their ketone levels, especially when experiencing symptoms of high blood sugar..</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                        <div class="faq-count">
                                            <h5 class="text-primary">Total Cholesterole.</h5>
                                         </div>
                                        <h5 class="mt-3">what is Total Cholesterole</h5>
                                        <p class="text-muted mt-3 mb-0">
                                            Total cholesterol is the overall amount of cholesterol in the blood, measured in mg/dL or mmol/L. It includes both "bad" LDL cholesterol and "good" HDL cholesterol. The desirable level is less than 200 mg/dL (5.2 mmol/L), but it can vary based on other risk factors for heart disease. Working with a healthcare provider is essential for managing cholesterol levels and reducing the risk of heart disease..</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
            
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                        <div class="faq-count">
                                            <h5 class="text-primary">Lactute.</h5>
                                         </div>
                                        <h5 class="mt-3">what is Lactate</h5>
                                        <p class="text-muted mt-3 mb-0">Lactate is produced by the body during intense exercise or when there's a lack of oxygen to the cells. High lactate levels in the blood, known as hyperlactatemia, can indicate an underlying health problem, including impaired liver or kidney function, sepsis, shock, certain medications, or medical conditions like diabetes or mitochondrial disease. Hyperlactatemia symptoms include nausea, vomiting, abdominal pain, muscle weakness, and shortness of breath.</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
            
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body overflow-hidden position-relative">
                                        <div>
                                            <i class="bx bx-help-circle widget-box-1-icon text-primary"></i>
                                        </div>
                                        <div class="faq-count">
                                            <h5 class="text-primary">Uric Acid.</h5>
                                         </div>
                                        <h5 class="mt-3">What is Uric acid？</h5>
                                        <p class="text-muted mt-3 mb-0">Uric acid is a waste product produced when the body breaks down purines. It's filtered out of the blood by the kidneys and excreted in urine. High levels of uric acid in the blood (hyperuricemia) can lead to the formation of urate crystals that cause gout or kidney stones, and may increase the risk of heart disease, hypertension, and metabolic syndrome. Uric acid levels can be measured by a blood test, and a healthy lifestyle can prevent high uric acid levels. Talk to your healthcare provider if you're concerned about your uric acid levels.</p>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end  card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>