<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">File Upload</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Uploader</a></li>
                            <li class="breadcrumb-item active">File Upload</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload Portal</h4>
                        <p class="card-title-desc">Upload multiple reports for back up of physical doccuments as well as data capturing
                        </p>
                    </div>
                    <div class="card-body">
                        <form class="dropzone dz-clickable position-relative" appDnd
                        (fileDropped)="onFileDropped($event)">
                            <div >
                                <input class="position-absolute opacity-0 w-100" type="file" #fileDropRef id="fileDropRef"
                                    multiple (change)="fileBrowseHandler($event)" />
                                <div class="dz-message needsclick">
                                    <div class="mb-3">
                                        <i class="display-4 text-muted bx bx-cloud-upload"></i>
                                    </div>
                                    <h5>Drop files here or click to upload.</h5>
                                </div>
                            </div>
                        </form>
                        <ng-container *ngIf="files.length !== 0">
                            <h5 class="mt-3">List of Uploaded File(s)</h5>
                            <div class="row my-3" *ngFor="let file of files; let i = index;">
                                <div class="col-12">
                                    ({{ i + 1 }}) <strong>{{ file.name }}</strong> - <em>{{ formatBytes(file?.size) }}</em>
                                </div>
                            </div>
                        </ng-container>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-primary waves-effect waves-light">Send Files</button>
                        </div>
                    </div>
                
            </div> <!-- end col -->
        </div> <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>