<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Statistics</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Statistics</a></li>
                            <li class="breadcrumb-item active">Mpumalanga</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Pie Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline1" data-colors="[&quot;#2ab57d&quot;, &quot;#5156be&quot;, &quot;#e9ecef&quot;]" class="text-center"><canvas width="200" height="200" style="display: inline-block; width: 200px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Bar Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline2" data-colors="[&quot;#2ab57d&quot;]" class="text-center"><canvas width="231" height="200" style="display: inline-block; width: 231px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Line Chart</h4>
                    </div>
                    <div class="card-body analytics-info">
                        <div id="sparkline4" data-colors="[&quot;#5156be&quot;]"><canvas width="363" height="200" style="display: inline-block; width: 363.163px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Composite Bar Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline3" data-colors="[&quot;#5156be&quot;, &quot;#2ab57d&quot;]" class="text-center"><canvas width="180" height="200" style="display: inline-block; width: 180px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Line Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline5" data-colors="[&quot;#5156be&quot;, &quot;rgba(81, 86, 190, 0.3)&quot;, &quot;#2ab57d&quot;, &quot;rgba(42, 181, 125, 0.3)&quot;]" class="text-center"><canvas width="363" height="200" style="display: inline-block; width: 363.163px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-primary">
                    <div class="card-header bg-transparent">
                        <h4 class="card-title text-white mb-0">Discrete Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline6" data-colors="[&quot;#fff&quot;]" class="text-center"><canvas width="280" height="200" style="display: inline-block; width: 280px; height: 200px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Bullet Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline7" data-colors="[&quot;#5156be&quot;, &quot;#fd625e&quot;]" class="text-center"><canvas width="280" height="80" style="display: inline-block; width: 280px; height: 80px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Box Plot Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline8" data-colors="[&quot;#2ab57d&quot;]" class="text-center"><canvas width="280" height="80" style="display: inline-block; width: 280px; height: 80px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Tristate Chart</h4>
                    </div>
                    <div class="card-body">
                        <div id="sparkline9" data-colors="[&quot;#5156be&quot;, &quot;#2ab57d&quot;, &quot;#f46a6a&quot;]" class="text-center"><canvas width="129" height="80" style="display: inline-block; width: 129px; height: 80px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        
    </div> <!-- container-fluid -->
</div>