<div class="page-content">
    <div class="">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tools</a></li>
                            <li class="breadcrumb-item active">Statistics</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xxl-3 col-lg-4 col-md-5 bg-white">
                    <div class="auth-full-page-content">
                        <div class="w-100 bg-white">
                            <div class="d-flex flex-column h-100">
                                <div class="mb-4 mb-md-5 text-center">
                                    <h1>Statistics</h1>
                                </div>
                                
                                <form >
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" required="true" class="form-control" name="email" placeholder="Enter Email">
                                    </div>
                                    
                                    <div class="mb-3">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-grow-1">
                                                <label class="form-label">Password</label>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="">
                                                    <a href=""class="text-primary">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                            
                                       
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="invalidCheck" required>
                                                <label class="form-check-label" for="invalidCheck">I accept the <a href="javascript: void(0);" class="text-primary">Terms of Use</a></label>
                                                <div class="invalid-feedback">
                                                    You must agree before submitting.
                                                </div>
                                            </div>
                                        </div>
                            
                                    </div>
                                    <div class="mb-3">
                            
                                        <button class="btn btn-info btn-rounded w-100 waves-effect waves-light" type="submit">Generate</button>
                                    </div>                            
                                </form>

                            </div>    
                        </div>
                    </div>
            </div> 
            
            <div class="col-xxl-9 col-lg-8 col-md-7">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container bg-white mt-5 mb-5">
                            <div class="row">
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Pie Chart</h4>
                                        </div>
                                        <div class="card-body">
                                                <apx-chart
                                                  [series]="pieChartOptions.series"
                                                  [chart]="pieChartOptions.chart"
                                                  [legend]="{ show: false}"
                                                  [colors]="['#2ab57d', '#5156be', '#e9ecef']"
                                                  class="text-center">
                                                </apx-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Bar Chart</h4>
                                        </div>
                                        <div class="card-body">
                                            <apx-chart
                                            [series]="barChartOptions.series"
                                            [chart]="barChartOptions.chart"
                                            [legend]="{ show: false}"
                                            [colors]="['#2ab57d']"
                                            class="text-center"
                                          ></apx-chart>
                                            <!-- <div id="sparkline2" data-colors="[&quot;#2ab57d&quot;]" class="text-center"><canvas width="231" height="200" style="display: inline-block; width: 231px; height: 200px; vertical-align: top;"></canvas></div> -->
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">Composite Bar Chart</h4>
                                        </div>
                                        <div class="card-body">
                                            <apx-chart
                                            [series]="compositeChartOptions.series"
                                            [chart]="compositeChartOptions.chart"
                                            [legend]="{ show: false}"
                                            [colors]="[ '#5156be', '#2ab57d']"
                                            class="text-center">
                                          </apx-chart>
                                            <!-- <div id="sparkline3" data-colors="[&quot;#5156be&quot;, &quot;#2ab57d&quot;]" class="text-center"><canvas width="180" height="200" style="display: inline-block; width: 180px; height: 200px; vertical-align: top;"></canvas></div> -->
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                            </div>        
                        
                    </div>
                </div>
            </div>            

        </div>

    </div>
   
</div>                            <!-- end row -->
                
        
<!-- container-fluid -->