<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Video</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Tutorial</a></li>
                            <li class="breadcrumb-item active">Videos</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Demostration Video</h4>
                        <p class="card-title-desc">This is the standard operation video of BioHermes A1C EZ 2.0</p>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/JgBfj-4gNHY" title="YouTube video" allowfullscreen=""></iframe>
                        </div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-5">
                <div class="card  customize-card" >
                    <img class="card-img img-fluid" src="assets/images/img-6.png" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-white">Card title</h4>
                        <p class="card-text text-white">This is a wider card with supporting text below as a
                            natural lead-in to additional content. This content is a little bit
                            longer.</p>
                        <p class="card-text">
                            <small class="text-white">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Test Instruction of Biohermes</h4>
                        <p class="card-title-desc">This Video is to guide how to use Biohermes.</p>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/HlWaHlb1Cc8" title="YouTube video" allowfullscreen=""></iframe>
                        </div>

                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->

        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div>