<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Users </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Users</a></li>
                            <li class="breadcrumb-item active">View all</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <h5 class="card-title"><span class="text-muted fw-normal ms-2"></span></h5>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                    <div>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a></a>
                            </li>
                            <li class="nav-item">
                                <a></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a routerLink="/dashboard/users/add" class="btn btn-light"><i class="bx bx-plus me-1"></i> Add
                            New</a>
                    </div>


                </div>

            </div>
        </div>
        <!-- end row -->

        <div class="table-responsive mb-4">
            <app-dynamic-grid [columns]="cols" [data]="source" [isExportable]="false"></app-dynamic-grid>
            <!-- end table -->
        </div>
        <!-- end table responsive -->

    </div> <!-- container-fluid -->
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>