<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Register User</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                            <li class="breadcrumb-item active">Add User</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Patient Details</h4>
                    </div>
                    <div class="card-body">

                        <div class="twitter-bs-wizard">
                           
                           
                            <div class="tab-content twitter-bs-wizard-tab-content">
                                <div class="tab-pane active" id="progress-seller-details">
                                    <div class="text-center mb-4">
                                        <h5>Fill all information below</h5>
                                    </div>
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-firstname-input">First name</label>
                                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="patient.name" placeholder="Enter your First Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-lastname-input"> Surname</label>
                                                    <input type="text" class="form-control" name="last" [(ngModel)]="patient.surname" placeholder="Enter your Last Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-phoneno-input">Phone</label>
                                                    <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="patient.phoneNumber" placeholder="Enter your Phone No">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-email-input">Email</label>
                                                    <input type="email" class="form-control" name="email"  placeholder="Enter your Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Address</label>
                                                    <textarea name="address" class="form-control" rows="2" placeholder="Enter your Address"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-phoneno-input">Age</label>
                                                    <input type="number" name="age" [(ngModel)]="patient.age" class="form-control" placeholder="Enter your Age">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-email-input">Date of Birth</label>
                                                    <input type="date" class="form-control" name="dob" [(ngModel)]="patient.dateOfBirth" placeholder="Enter your Date of birth">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div>
                                                    <label for="exampleDataList" class="form-label">Province</label>
                                                    <input class="form-control" list="datalistOptions" [(ngModel)]="patient.province" name="province" 
                                                        placeholder="Type in Province...">
                                                    <datalist id="datalistOptions">
                                                        <option value="Mpumalanga">
                                                        <option value="Free State">
                                                        <option value="Gauteng">
                                                        <option value="North West">
                                                        <option value="Limpopo">
                                                        <option value="KwaZulu-Natal">
                                                        <option value="Eastern Cape">
                                                        <option value="Northern Cape">
                                                        <option value="Western Cape">
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <div>
                                                        <label for="exampleDataList" class="form-label">District</label>
                                                        <input class="form-control" list="datalistOptions" [(ngModel)]="patient.district" name="district" 
                                                            placeholder="Type in Province...">
                                                        <datalist id="datalistOptions">
                                                            <option value="Sedibeng">
                                                            <option value="Ekurhuleni">
                                                            <option value="City Of Johannesburg">
                                                            <option value="City Of Tswane">
                                                            <option value="West Rand">
                                                            <option value="Nkangala">
                                                            <option value=" Mopani">
                                                            <option value="Sekhukhune">
                                                            <option value="Capricorn">
                                                            <option value="Vhembe">
                                                            <option value="Waterberge">
                                                            <option value="Cape Winelands">
                                                            <option value="City of CapeTown">
                                                            <option value="Limpopo">
                                                            <option value="Overberg">
                                                            <option value="Ugu">
                                                            <option value="eThekwini">                                                                <option value="Western Cape">        
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Patient ID</label>
                                                    <input type="text" class="form-control" [(ngModel)]="patient.patientNumber" name="patient" >
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Institution</label>
                                                    <input type="text" class="form-control" [(ngModel)]="patient.institution" name="Institution">
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </form>
                                    
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-info btn-rounded waves-effect waves-light" (click)="createPatient()">Confirm Details <i class="bx bx-chevron-right ms-1"></i></a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="progress-company-document">
                                  <div>
                                    <div class="text-center mb-4">
                                        <h5>Medical Information</h5>
                                        <p class="card-title-desc">Fill all information below</p>
                                    </div>
                                    
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous disabled"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()"><i class="bx bx-chevron-left me-1"></i> Previous</a></li>
                                        <li class="next"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()">Next <i class="bx bx-chevron-right ms-1"></i></a></li>
                                    </ul>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

       
    </div> <!-- container-fluid -->
</div>