<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Register Patient</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Patients</a></li>
                            <li class="breadcrumb-item active">Add Patient</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        
        <div class="row">
            <div class="col-lg-12">
                <div class="card customize-card">
                    <div class="card-header ">
                        <h2 >Patient Details</h2>
                    </div>
                    <div class="card-body customize-card">

                        <div class="twitter-bs-wizard">
                           
                           
                            <div class="tab-content twitter-bs-wizard-tab-content">
                                <div class="tab-pane active" id="progress-seller-details">
                                    <form #form="ngForm" ngNativeValidate (ngSubmit)="form.valid && addEditPatient()">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-firstname-input">First name</label>
                                                    <input type="text" required="true" class="form-control" name="firstName" [(ngModel)]="patient.name" placeholder="Enter your First Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-lastname-input"> Surname</label>
                                                    <input type="text" class="form-control" required name="last" [(ngModel)]="patient.surname" placeholder="Enter your Last Name">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-phoneno-input">Phone</label>
                                                    <input type="text" class="form-control" minlength="10" maxlength="10" required name="phoneNumber" [(ngModel)]="patient.phoneNumber" placeholder="Enter your Phone No">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-email-input">Email</label>
                                                    <input type="email" class="form-control" required name="email"  placeholder="Enter your Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-address-input">Address</label>
                                                    <textarea name="address" required class="form-control" rows="2" placeholder="Enter your Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Gender</label>
                                                    <select class="form-select">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                                <div class="form-check form-switch" dir="ltr">
                                                    <input type="checkbox" class="form-check-input" disabled id="customSwitch2">
                                                    <label class="form-check-label" for="customSwitch2">Gestational</label>
                                                </div>
                                        </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-email-input">Date of Birth</label>
                                                    <input type="date" required class="form-control" (change)="getAge(patient.dateOfBirth)" name="dob" [(ngModel)]="patient.dateOfBirth" placeholder="Enter your Date of birth">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="progresspill-phoneno-input">Age</label>
                                                    <input type="number" required name="age" readonly [(ngModel)]="patient.age" class="form-control" placeholder="Enter your Age">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div>
                                                    <label for="exampleDataList" class="form-label">Province</label>
                                                    <input class="form-control" (change)="provinceChange(patient.province)" required list="datalistOptions" [(ngModel)]="patient.province" name="province" 
                                                        placeholder="Type in Province...">
                                                    <datalist id="datalistOptions">
                                                        <option value="Free State">
                                                        <option value="Gauteng">
                                                        <option value="North West">
                                                        <option value="Limpopo">
                                                        <option value="KwaZulu-Natal">
                                                        <option value="Eastern Cape">
                                                        <option value="Northern Cape">
                                                        <option value="Western Cape">
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <div>
                                                        <label for="exampleDataList" class="form-label">District</label>
                                                        <input class="form-control" required list="datalistOptionsDistricts" [(ngModel)]="patient.district" name="district" 
                                                            placeholder="Type in District...">
                                                        <datalist id="datalistOptionsDistricts">
                                                            <option  *ngFor="let item  of districts" > {{ item }}</option>
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Patient ID</label>
                                                    <input type="text" required class="form-control" [(ngModel)]="patient.patientNumber" name="patient" >
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Institution</label>
                                                    <input type="text" required class="form-control" [(ngModel)]="patient.institution" name="Institution">
                                                </div>
                                            </div>
                                        </div>
                                      
                                    
                                    
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="next"> <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Save <i class="bx bx-chevron-right ms-1"></i></button></li>
                                    </ul>
                                </form>
                                </div>
                                <div class="tab-pane" id="progress-company-document">
                                  <div>
                                    <div class="text-center mb-4">
                                        <h5>Medical Information</h5>
                                        <p class="card-title-desc">Fill all information below</p>
                                    </div>
                                    
                                    <ul class="pager wizard twitter-bs-wizard-pager-link">
                                        <li class="previous disabled"><a href="javascript: void(0);" class="btn btn-primary" onclick="nextTab()"><i class="bx bx-chevron-left me-1"></i> Previous</a></li>
                                        <li class="next">
                                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Save <i class="bx bx-chevron-right ms-1"></i></button>
                                        </li>

                                        
                                    </ul>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

       
    </div> <!-- container-fluid -->
</div>