<!-- <div class="loader-overlay" style="z-index: 10001;" *ngIf="loading">
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </div> -->
<app-splash-screen *ngIf="lottieLoading"></app-splash-screen>

<body [attr.data-layout]="!isLogin ? 'horizontal' : null" class="pace-done">
    <!-- -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <router-outlet></router-outlet>
    </div>
</body>

<!-- <body class="pace-done">
    
    <div id="layout-wrapper">
        <router-outlet></router-outlet>
    </div>
</body> -->