.modal {
  &.show {
    opacity: 1;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.5;
  }
}

.input-group {
  .btn-outline-secondary {
    border-color: #ced4da;

    &:hover {
      background-color: #e9ecef;
    }
  }
}
