<form #form="ngForm" ngNativeValidate (ngSubmit)="addEditReport()">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="progresspill-firstname-input">Patient Id</label>
                <input [disabled]=true type="text" class="form-control" name="patientId" [(ngModel)]="report.patientId"
                    placeholder="Enter Patient ID">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="progresspill-lastname-input">First Name</label>
                <input [disabled]=true type="text" class="form-control" name="flast" [(ngModel)]="report.name"
                    placeholder="First Name">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="progresspill-firstname-input">Gender</label>
                <input [disabled]=true type="text" class="form-control" name="gender" [(ngModel)]="report.gender"
                    placeholder="Enter Gender">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="progresspill-lastname-input">District</label>
                <input [disabled]=true type="text" class="form-control" name="district" [(ngModel)]="report.district"
                    placeholder="Enter District">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Select Test Category</label>
                <p-multiSelect  class="p-multiselect" [options]="medicalRecordCategories" [(ngModel)]="testCateogry" [filter]="false" ></p-multiSelect>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="testCateogry.includes('Glucose')">
            <div class="mb-3">
                <label for="progresspill-phoneno-input">Glucose</label>
                <input type="number" name="glucose" [(ngModel)]="report.glucose" class="form-control"
                    placeholder="Glucose Reading">
            </div>
        </div>
        <div class="col-lg-6" *ngIf="testCateogry.includes('HBA1C')">
            <div class="mb-3">
                <label for="progresspill-email-input">HBA1C</label>
                <input type="text" class="form-control" name="hbA1C" [(ngModel)]="report.hbA1C"
                    placeholder="HBA1C Reading">
            </div>
        </div>

        <div class="col-lg-6" *ngIf="testCateogry.includes('Key Tone')">
            <div class="mb-3">
                <label for="progresspill-email-input">Key Tone</label>
                <input type="number" class="form-control" name="keyTone" [(ngModel)]="report.keyTone"
                    placeholder="KeyTone Reading">
            </div>
        </div>
        <div class="col-lg-6" *ngIf="testCateogry.includes('Total Colestorl')">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="progresspill-email-input">Total Cholesterol</label>
                    <input type="number" class="form-control" name="totalColestorl" [(ngModel)]="report.totalColestorl"
                        placeholder="Cholesterol Reading">
                </div>
            </div>
        </div>

        <div class="col-lg-6" *ngIf="testCateogry.includes('Uric Acid')">
            <div class="mb-3">
                <label for="progresspill-email-input">Uric Acid</label>
                <input type="number" class="form-control" name="uricAcid" [(ngModel)]="report.uricAcid"
                    placeholder="uric Acid Reading">
            </div>
        </div>
        <div class="col-lg-6" *ngIf="testCateogry.includes('Lactate')">
            <div class="mb-3">
                <div class="mb-3">
                    <label for="progresspill-email-input">Lactate</label>
                    <input type="number" class="form-control" name="lactate" [(ngModel)]="report.lactate"
                        placeholder="Lactate Reading">
                </div>
            </div>
        </div>

        <div class="col-lg-6" *ngIf="testCateogry.includes('Blood Pressure')">
            <div class="mb-3">
                <label class="form-label">Blood Pressure</label>
                <input type="number" class="form-control" name="bloodPressure" [(ngModel)]="report.bloodPressue">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Next Appointment Date</label>
                <input type="datetime-local" class="form-control" name="nextAppointmentDate" value="2019-08-19T13:45:00"
                    [(ngModel)]="report.nextAppointmentDate">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Recomendations</label>
                <input [disabled]=true type="text" class="form-control" name="recomendations"
                    [(ngModel)]="report.recomendations">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label">Remedies</label>
                <input [disabled]=true type="text" class="form-control" name="remidies" [(ngModel)]="report.remidies">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <button class="btn btn-primary w-100 waves-effect waves-light" [disabled]="!testCateogry" type="submit">Save <i
                    class="bx bx-chevron-right ms-1"></i></button>
        </div>
    </div>
</form>