@import '~@riapacheco/yutes/colors.scss';

:host {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  
  position: relative;
}


@media only screen and (max-width: 767px) {
  .lottie-animation {
    width: 350% !important;
  }
}
