<div class="my-5 pt-5">
    <div class="rightPnl newScreen">
            
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12" style="margin-bottom: 25px;">
                <h2 class="noTopMargin">OpenBots Support</h2>
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
                <p class="supportText"><strong>Click the button on the right to open a ticket</strong> and our support team will contact you in the order that your inquiry was received.</p>
                <p class="supportText">For immediate assistance call +1 (646) 216-7541 and one of our customer success representatives will guide you.</p>
                <a class="supportTextLink" href="https://openbotscloud.freshstatus.io/incident/283465">Click here to get notified about periodical maintenance and important technical updates.</a>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 formSearch text-right">
                <div class="getInfoPnl getRecord">

                    <div class="box" style="float: right;">
                        <a href="/support/ticket/create">Create Ticket</a>
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr>
                            <th>Ticket No.</th>
                            <th style="width: 45%;">Subject</th>
                            <th>Raised By</th>
                            <th>Last Updated</th>
                            <th>Priority</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                    <td colspan="6" class="noRecord">
                                        <img src="/images/no_record_found.svg" alt="icon">
                                        <strong>No Records Found</strong>
                                    </td>
                            </tr>
                    </tbody>
                </table>

            </div>
        </div>
    <div class="mt-3">
    </div>
</div>
<!-- end content -->