<h1>NCD – Terms of Use</h1><p> </p><p>Last Updated: April 10, 2023</p>



<h2>Acceptance of Terms</h2>

<p>The services that Promedtechnologies provides to you are subject to the following Terms of Use . Promedtechnologies reserves the right to update and modify the NCD Application at any time without notice to you. The most current version of the NCD App can be reviewed by clicking on the "Terms of Use" hypertext link located at the bottom of our Web pages. When we make updates to the App, Promedtechnologies will update the date at the top of this page. By using the website after a new version of the TOU has been posted, you agree to the terms of such new version.</p>

<h2>Description of Services</h2>

<p>Through its network of Web properties, Promedtechnologies provides you with access to a variety of resources, including download areas, Support and product information (collectively "Services"). The Services, including any updates, enhancements, new features, and/or the addition of any new Web properties.</p>

<h2>Personal and Non-Commercial Use Limitation</h2>

<p>Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the NCD App.</p>

<h2>Privacy and Protection of Personal Information</h2>
