<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Existing Patient</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Patients</a></li>
                            <li class="breadcrumb-item active">Existing Patient</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Enter Patient Cridetials </h4>
                    </div>
                    <!-- end card header -->
        
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="formrow-email-input">First Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="formSearch.name" id="formrow-firstname-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="formrow-password-input">Surname</label>
                                        <input type="text" class="form-control" name="surName" [(ngModel)]="formSearch.surname"  id="formrow-firstname-input">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="formrow-firstname-input">Patient Number</label>
                                <input type="text" class="form-control" name="patientNumber" [(ngModel)]="formSearch.patientNumber"  id="formrow-firstname-input">
                            </div>

                            <div class="form-group">
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn btn-info btn-rounded waves-effect waves-light" (click)="onSearch()">Search</button>
                                <button type="submit" class="btn btn-danger btn-rounded waves-effect waves-light" style="margin-left: 2%;" (click)="onClear()">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div class="table-responsive mb-4">
            <app-dynamic-grid [columns]="cols" [data]="source" [isExportable]="false"></app-dynamic-grid>
            <!-- end table -->
        </div>
    </div>    
</div>                            <!-- end row -->
                
        
<!-- container-fluid -->

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
